*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.battery{
    margin:auto;
    padding-top: 50px;
    padding-left:20px;
    display: inline block;
    float:left;
    }

/*DEFAULT STYLE OF THE BATTERIES*/
.black, .red, .orange, .green{
    margin:auto;
    width:250px;
    height:350px;
    visibility: hidden;

}
/*AFTER CLICK EVENT*/

.blackLevel{
    visibility: visible;
    transform: translateX(30deg);
    transition: all 1s ease;

}

.redLevel{
    visibility: visible;
    transform: translateX(30deg);
    transition: all 1s ease;
}

.orangeLevel{
    visibility: visible;
    transform: translateX(30deg);
    transition: all 1s ease;
}
.greenLevel{
    visibility: visible;
}
.animationFall{
    transform: translateY(8px)rotateZ(30deg);
    opacity: 0.5;

}